#app{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

}